<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">

        <title>Libération.fr – {{ title }}</title>
        <meta name="description" content="Tout savoir sur les dernières actualités politiques, monde, société, sports, écologie avec le journal en ligne Libération.">
        <meta name="keywords" content="actualités, news">

        <link rel="shortcut icon" href="http://www.liberation.fr/favicon.ico">
        <link rel="shortcut icon" href="http://www.liberation.fr/favicon.png">

        <link rel="canonical" href="http://www.liberation.fr/apps////">

        <meta property="og:title" content="" />
        <meta property="og:site_name" content="Libération.fr"/>
        <meta property="og:image" content="http://www.liberation.fr/apps////social.jpg" />
        <meta property="og:url" content="http://www.liberation.fr/apps////" />
        <meta property="og:description" content="" />

        <style>
        html,body {
            margin: 0;
            padding: 0;
            height:100%;
            width:100%;
        }
        #libe-menu {
            height: auto !important;
        }
        </style>
        
        <!-- Vendor -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>

    </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- Header -->
    <script type="text/javascript" src="http://www.liberation.fr/menu/script.js"></script>
  </body>
</html>
